# STA130 Week 01 Homework

> #### Homework Chat Logs:
> - Question 1: *https://chatgpt.com/share/f02e67f3-b267-4f07-9986-12cc71849307*
> 
> - Question 2-3: *https://chatgpt.com/share/a5ee8942-7a7b-4573-b21f-cce4d89afd5f*
> 
> - Question 4-5: *https://chatgpt.com/share/3b997b5b-fa52-4b7a-b6f1-20618c705840*
> 
> - Question 6: *https://chatgpt.com/share/27a9c262-c579-4c0f-8b6a-ed8bfba2ac98*
> 
> - Question 7: *https://chatgpt.com/share/5b41149a-1c86-4ca6-84d0-68955d2b9def*
> 
> - Question 8: *https://chatgpt.com/share/67bfed28-7390-4177-971e-1ce63f7f35fc*, *https://chatgpt.com/share/97d63dd0-bb0c-4f8d-ad55-f3866e8091bc*

### 1. Pick one of the datasets from the ChatBot session(s) of the `TUT demo` (or from your own ChatBot session if you wish) and use the code produced through the ChatBot interactions to import the data and confirm that the dataset has missing values.

In [200]:
# feel free to just use the following if you prefer...
import pandas as pd
url = "https://raw.githubusercontent.com/taivop/joke-dataset/master/stupidstuff.json"

df = pd.read_json(url) # Global variable
df.isna().sum()

body        0
category    0
id          0
rating      0
dtype: int64

### 2. Start a new ChatBot session with an initial prompt introducing the dataset you're using and request help to determine how many columns and rows of data a `pandas` DataFrame has.

##### 1. use code provided in your ChatBot session to print out the number of rows and columns of the dataset.

In [201]:
# Display the shape of the dataset
print(f"Shape of the dataset: {df.shape}")

# Display the number of rows and columns
print(f"Number of entries: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

# Display the column names
print(f"Columns: {df.columns.tolist()}")

# Show an example entry to understand the structure of the data
print(f"Example entry:\n{df.iloc[0]}")

Shape of the dataset: (3773, 4)
Number of entries: 3773
Number of columns: 4
Columns: ['body', 'category', 'id', 'rating']
Example entry:
body        A blackjack dealer and a player with a thirtee...
category                                             Children
id                                                          1
rating                                                   2.63
Name: 0, dtype: object

##### 2. write your own general definitions of the meaning of "observations" and "variables" based on asking the ChatBot to explain these terms in the context of your dataset

`Observations` are the individual data points or rows in my dataset. For example, each observation represents a single joke entry in my dataset.

`Variables` are the attributes or columns pertaning to each characteristic of an observation in my dataset. For example, variables include body, category, id, and rating in my dataset.

### 3. Ask the ChatBot how you can provide simple summaries of the columns in the dataset and use the suggested code to provide these summaries for your dataset.

In [202]:
# Summary statistics for numeric columns
df.describe()

                id       rating
count  3773.000000  3773.000000
mean   1887.000000     3.284363
std    1089.315611     1.199279
min       1.000000     0.000000
25%     944.000000     2.330000
50%    1887.000000     3.090000
75%    2830.000000     4.000000
max    3773.000000     5.000000

In [203]:
# Value counts for a specific column (for non-numeric data)
df['category'].value_counts()

Miscellaneous      831
Insults            196
Men                190
Religious          152
Computers          150
Women              144
Yo Mama            141
Political          141
Animals            131
Light Bulbs        120
Blonde Jokes       111
Business           104
Medical            101
Family, Parents     96
Heaven and Hell     91
Bar Jokes           87
Children            82
Money               82
Holidays            69
Police Jokes        67
School              62
Sports              61
Military            58
Sex                 54
Lawyers             50
Love & Romance      48
Crazy Jokes         43
Marriage            37
Aviation            35
Idiots              31
Farmers             29
One Liners          28
Redneck             27
Old Age             22
Science             18
Office Jokes        18
Deep Thoughts       14
Food Jokes          13
Blind Jokes         11
State Jokes         10
Music                9
Ethnic Jokes         8
English              1
Name: category, dtype: int64

### 4. If the dataset you're using has (a) non-numeric variables and (b) missing values in numeric variables, explain (perhaps using help from a ChatBot if needed) the discrepancies between size of the dataset given by `df.shape` and what is reported by `df.describe()` with respect to (a) the number of columns it analyzes and (b) the values it reports in the "count" column.

The reason there are discrepanices between the number of entries in certain columns such as `age` and in `deck` is because...

&nbsp;&nbsp;&nbsp;&nbsp;a. the `DataFrame` object cannot be jagged and must have a rectangular shape. Every row/column must have the same length as every other row/column.

&nbsp;&nbsp;&nbsp;&nbsp;b. `mdf.describe()` doesn't count NaN values(*e.i. missing values*) and skips them when calculating `mean`, `std`, etc.

In [204]:
# Using recommended dataset since my dataset has no missing values.

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"

tdf = pd.read_csv(url)

print(f"Shape: {tdf.shape}")

print(f"Description:\n{tdf.describe()}")

print(f"# Of Missing Entries:\n{tdf.isna().sum()}")

Shape: (891, 15)
Description:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
# Of Missing Entries:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

### 5. Use your ChatBot session to help understand the difference between the following and then provide your own paraphrasing summarization of that difference.

- an "attribute", such as `df.shape` which does not end with `()`
- and a "method", such as `df.describe()` which does end with `()`

`df.shape` is a pre-calculated value when the `DataFrame` object is created. It represents an attribute in the `DataFrame` class and is saved in memory.

`df.describe()` is a method in the `DataFrame` class and returns a `Series` or `DataFrame` object, representing a *"summary statistics of the `Series` or `DataFrame` provided"* ([Pandas Docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)). Because it is a method and thus a function, it runs a written block of code to calculate the summary everytime it is called.

### 6. The `df.describe()` method provides the 'count', 'mean', 'std', 'min', '25%', '50%', '75%', and 'max' summary statistics for each variable it analyzes. Give the definitions (perhaps using help from the ChatBot if needed) of each of these summary statistics.

The `df.describe()` method provides a statistical summary of numerical variables in a `DataFrame` object.

The following are the definitions of each figure given in the statistical summary...
1. **Count**: The number of non-NaN values in each column. It gives the total number of data points available for each variable.

2. **Mean**: The average of the values in each column. It is the sum of all values divided by the number of values.

3. **Std**: The standard deviation of the values in each column. It measures the amount of variation from the mean. It is the square root of the variance, which is the sum of squared differences between values and the mean divided by the number of values minus 1.

4. **Min**: The smallest value in each column.

5. **25%**: The 25th percentile value (also known as the first quartile). It is the value below which 25% of the data points in a column fall.

6. **50%**: The 50th percentile value (also known as the median). It is the middle value of the data points.

7. **75%**: The 75th percentile value (also known as the third quartile). It is the value below which 75% of the data points in a column fall.

8. **Max**: The largest value in each column.

`df.describe()` skips any NaN values when calculating the previous figures. This is why sometimes **count** and the **# of rows** don't match.

### 7. Missing data can be considered "across rows" or "down columns".  Consider how `df.dropna()` or `del df['col']` should be applied to most efficiently use the available non-missing data in your dataset and briefly answer the following questions in your own words.

##### 1. Provide an example of a "use case" in which using `df.dropna()` might be preferred over using `del df['col']`.

An instance `df.dropna()` may be preferred over `del df['col']` is when columns are uniformly filled out but certain rows have missing data.

**For example:** In an online form, people are sometimes lazy or rush through filling out the form. It would be helpful to remove their entries as they aren't helpful/accurate.

##### 2. Provide an example of "the opposite use case" in which using `del df['col']` might be preferred over using `df.dropna()`.

An instance `df.dropna()` may be preferred over `del df['col']` is when most columns are filled out but there certain columns which are missing significant amounts of data.

**For example:** When filling out an online form, people often skip the same questions over and over again leading to certain columns being largely empty. It would be helpful to remove an entire column as there isn't enough data to draw any useful conclusions.

##### 3. Discuss why applying `del df['col']` before `df.dropna()` when both are used together could be important.

Removing columns missing large amounts of data first would potientially lead to more rows being preserved when `df.dropna()` is run.

**For example:** If most people fill out the entire online form but skip the same question, it wouldn't make sense to delete almost every entry just because one column is mostly empty.


##### 4. Remove all missing data from one of the datasets you're considering using some combination of `del df['col']` and/or `df.dropna()` and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.

In the previous dataset for Question 4, I noticed many columns have more than 100 entries while some columns only have a few. By setting a threshold for which columns are deleted then calling `dropna()`, I minimized the amount of data that was deleted.

In [205]:
import pandas as pd

clean_mdf = tdf.copy()

# Initial state: Shape and missing data summary
print(f"Initial Shape: {clean_mdf.shape}")

missing_columns = clean_mdf.isna().sum()
print(f"Initial Missing Data Summary:\n{missing_columns}")

# Step 1: Delete columns which are missing 100 or more entries.
threshold = 100
for name, mdata in missing_columns.items():
	if mdata >= threshold:
		del clean_mdf[name]

# Step 2: Drop any rows with missing data in other columns
clean_mdf = tdf.dropna()

# Final state: Shape and missing data summary
print(f"Initial Shape: {clean_mdf.shape}")
print(f"Initial Missing Data Summary:\n{clean_mdf.isna().sum()}")

Initial Shape: (891, 15)
Initial Missing Data Summary:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
Initial Shape: (182, 15)
Initial Missing Data Summary:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

### 8. Give brief explanations in your own words for any requested answers to the questions below.

##### 1. Use your ChatBot session to understand what `df.groupby("col1")["col2"].describe()` does and then demonstrate and explain this using a different example from the "titanic" data set other than what the ChatBot automatically provide for you.

The following code `df.groupby("col1")["col2"].describe()` groups all the data in `df` into rows based on the values in `col1`. By indexing `["col2"]` and running `describe()`, 2 or more columns can be compared and analyzed.

The following code shows that...
1. Fewer women boarded the Titanic.
2. Women on average payed more to board, with a little more variance when compared to men.

In [206]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and describe the 'fare' column.
df.groupby("sex")["fare"].describe()

        count       mean        std   min        25%   50%    75%       max
sex
female  314.0  44.479818  57.997698  6.75  12.071875  23.0  55.00  512.3292
male    577.0  25.523893  43.138263  0.00   7.895800  10.5  26.55  512.3292

##### 2. Assuming you've not yet removed missing values in the manner of question "7" above, `df.describe()` would have different values in the `count` value for different data columns depending on the missingness present in the original data.  Why do these capture something fundamentally different from the values in the `count` that result from doing something like `df.groupby("col1")["col2"].describe()`?

The key difference between the 2 expressions is that `df.describe()` counts the number of non-NaN entries in each row, while `df.groupby("col1")["col2"].describe()` counts the number of non-NaN entries in `col2` which pertain to `col1`. **For Example:** In the previous question, the expression counts how many men/women payed their fare separately.

##### 3. Intentionally introduce the following errors into your code and report your opinion as to whether it's easier to (a) work in a ChatBot session to fix the errors, or (b) use google to search for and fix errors: first share the errors you get in the ChatBot session and see if you can work with ChatBot to troubleshoot and fix the coding errors, and then see if you think a google search for the error provides the necessary toubleshooting help more quickly than ChatGPT.

**1. Forget to include `import pandas as pd` in your code**

It was easier to use ChatGPT.

**2. Mistype "titanic.csv" as "titanics.csv"**

ChatGPT understood that I may not have the file downloaded but it knew the full path since it was in the same session. Personally, I'd use the Internet to fix this error.

**3. Try to use a dataframe before it's been assigned into the variable**

Since the error is so specific to my code, ChatGPT was able to catch it. However, my code debugger in Visual Studio Code caught it first.

**4. Forget one of the parentheses somewhere the code**

Since the error is another SyntaxError, my debugger caught it first but ChatGPT was also helpful.

**5. Mistype one of the names of the chained functions with the code**

ChatGPT was more helpful than Google.

**6. Use a column name that's not in your data for the `groupby` and column selection.**

I pasted my code in a new ChatGPT session and I didn't understand the problem until I gave it the error from the console. However, I tried searching the error too and I believe I found the solution faster with the Internet.

**7. Forget to put the column name as a string in quotes for the `groupby` and column selection, and see if the ChatBot and google are still as helpful as they were for the previous question**

My debugger was faster but ChatGPT was also helpful.